html {
    /*background-image: linear-gradient(to bottom right, #F7F7F7, #EAFBFF);*/
}
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    color: #3a585f;
}
body.overflo {
    overflow-y: hidden;
}
/*
Orange color: #f39c12
Red color: #e74c3c
*/
.thin {
    font-weight: 100;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2 {
    background-color: white; 
    color: #008CBA; 
    border: 2px solid #008CBA;
}
.button2:hover {
    background-color: #008CBA;
    color: white;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p{
	color: #20515b;
}
/* HEADER */


.header {
    overflow: hidden;
}
.navbar-outer {
    text-align: center;
    background: #2f3241;
    border-bottom-color: #1a1b23;
	/*border-bottom: 8px solid #D2F079;*/
/*	box-shadow: 1px 5px 10px rgba(0,0,0,0.2);*/
    box-shadow: 12px 10px 20px 0px rgba(46,61,73,0.15);
    margin: 0 auto;
}
.left-bar, .right-bar {
    display: inline-block;
    vertical-align: top;
}
.left-bar {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.left-bar a.logo img{
	padding: 10px;
}
.left-bar li {
	float: left;
}
.left-bar li.named {
    padding: 13px 0;
    font-size: 20px
}
.left-bar .bryan {
	color: #e8e8e8;
    text-align: right;
    font-weight: 800;
}
.left-bar .panesa {
	color: #b4b4b4;
    font-weight: 500;
}
.left-bar .bryan:hover {
	color: #f39c12;
    transition: all 0.3s ease;
    cursor: pointer;
}
.left-bar .panesa:hover {
	color: #e74c3c;
    transition: all 0.3s ease;
    cursor: pointer;
}
.right-bar {
    list-style-type: none;
    margin: 0 0 0 300px;
    padding: 0;
    text-transform: lowercase;
}
.right-bar li {
    float: right;
}
.right-bar li a {
    display: block;
    text-align: center;
    padding: 20px !important;
    text-decoration: none;
    color: #74b1be;
}
/*a.nav:hover {
	color: #47c0da;
    border-bottom: 3px solid #f39c12;
}
a.nav:active {
	color: #47c0da;
}*/

a.nav {
  position: relative;
  color: #74b1be;
}
a.nav:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #47c0da;
  content: "";
  transition: width 0.2s;
}
a.nav:hover {
  color: #47c0da;
}
a.nav:hover:after {
  width: 100%;
}
 

/* END OF HEADER */


/* BANNER */
.banner {
/*	background: url(../images/dog.jpg) no-repeat;*/
    /*background-image: -webkit-linear-gradient(top left, #F7F7F7, #EAFBFF);
    background-image: -moz-linear-gradient(top left, #F7F7F7, #EAFBFF);
    background-image: -o-linear-gradient(top left, #F7F7F7, #EAFBFF);
    background-image: linear-gradient(to bottom right, #F7F7F7, #EAFBFF);*/
    position: relative;
    background: #2b2e3b;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
h1.bry {
    color: #47c0da;
    text-align: center;
    vertical-align: middle; /*vertically align child of div */
    font-size: 50px;
    text-transform: capitalize;    /*text-shadow: 0 0 0.313em #47c0da, 0 0 0.625em #47c0da;*/
    font-weight: 400;
}
div.face-banner {
	margin: 0 auto;
	text-align: center
}
div.face-banner img {
	width: 150px;
	display: block;
    margin: 0 auto;
    padding: 100px 0 0 0;
}
div.banner p.quote {
	color: #74b1be;
	padding: 0 60px;
	font-size: 20px;
}


/* END OF BANNER */

/* about */
div.about {
	background: #ffffff;
	width: 100%;
	height: 550px;
}
div.about hr {
	max-width: 500px;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #ddd;
}
.sections {
	padding: 10px;
	text-align: center;
	font-weight: 300;
    color: #20515b;
}


div.left-img-title img {
    width: 160px;
    vertical-align: middle;
}

div .about-col {
    overflow: hidden;
}
h2.left-title {
    padding-bottom: 20px;
    font-weight: 300;
}
h2.right-title {
    font-weight: 300;
    text-align: justify;
}
h2.right-title ~ p {
    text-align: justify;
}
.linked {
    color: #47c0da;
    text-decoration: none;
}
.linked:visited {
    color: #47c0da;
}

.left-title ~ .foo {
    font-weight: 600;
}
.gradhat {
    width: 140px;
    margin-bottom: -20px;
}
.about1 {
    text-align: center;
    float: left;
    width: 500px;
    vertical-align: middle;
}
.about2 {
    margin-top: 50px;
    padding: 0 70px;
    overflow: hidden;
}
.about2 > p:nth-last-of-type(1)::after {
    content: "- Bryan Jay B. Panesa";
}
/* END OF about */
/* skills */

.hrs {
    max-width: 500px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}
.skills-col {
    max-width: 1100px;
    padding-top: 30px;
    display: block;
    margin: auto;
    text-align: center;
    /*background-color: #2b2e3b;*/
}
.skill-sec div {
    display: inline-block;
    padding: 20px;
}
.skill-img {
    transition: all 0.3s ease;
/*    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;*/
}
.skill-img:hover {
    /*-webkit-filter: none;
    -o-filter: none;
    filter: none;
    filter: none;*/
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.skill-img + p {
    font-weight: 300;
    color: #74b1be;
}
.col-inline {
    display: inline-block;
}
.portfolio {
    text-align: center;
    overflow: hidden;
    background: rgba(154, 154, 154, 0.05);
    /*transform: rotate(-3deg);*/
    width: 100%;  
    height: auto;
}
.container {
    position: relative;
    display: inline-block;
    max-width: 350px;
    width: 350px;
    height: 350px;
    margin: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 25px rgba(46,61,73,0.5);
    transition: all 0.3s ease;
    cursor: pointer;
}
.container:hover {
    box-shadow: 2px 4px 5px rgba(46,61,73,0.2);
}
.bot {
    position: absolute;
    max-width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.lccfs {
    background: url("../images/portfolio/bfp1.PNG") no-repeat center;
    background-size: cover;
}
.gogon {
    background: url("../images/portfolio/gogon1.PNG") no-repeat center;
    background-size: cover;
}
.phage {
    background: url("../images/portfolio/phage/phage2.png") no-repeat center;
    background-size: cover;
}
.inventory {
    background: url("../images/portfolio/crud1.PNG") no-repeat center;
    background-size: cover;
}
.typeab {
    background: url("../images/portfolio/type1.PNG") no-repeat center;
    background-size: cover;
}
.presidents {
    background: url("../images/portfolio/presidents1.PNG") no-repeat center;
    background-size: cover;
}
.overlay-1 {
    background-color: #f39c12;
    opacity: 0.8;
    transition: all 0.3s ease;
}
.overlay-2 {
    background-color: #2ecc71;
    opacity: 0.8;
    transition: all 0.3s ease;
}
.overlay-3 {
    background-color: #3498db;
    opacity: 0.8;
    transition: all 0.3s ease;
}
.overlay-4 {
    background-color: #e74c3c;
    opacity: 0.8;
    transition: all 0.3s ease;
}
.overlay-5 {
    background-color: #9b59b6;
    opacity: 0.8;
    transition: all 0.3s ease;
}
.overlay-6 {
    background-color: #1abc9c;
    opacity: 0.8;
    transition: all 0.3s ease;
}
.overlay-1:hover {
    opacity: 0;
}
.overlay-2:hover {
    opacity: 0;
}
.overlay-3:hover {
    opacity: 0;
}
.overlay-4:hover {
    opacity: 0;
}
.overlay-5:hover {
    opacity: 0;
}
.overlay-6:hover {
    opacity: 0;
}
div.bot > h1 {
    padding: 70px;
    vertical-align: middle;
    color: #fff;
}
div.bot > h1::after {
    content: " Development";
}
.container > h4 {
    position: absolute;
    top: 240px;
    bottom: 0;
    right: 40px;
    left: 40px;
}
.container > ul li {
    position: absolute;
    display: inline-block;
    bottom: 15px;
    left: 10px;
    padding: 5px 8px;
    font-size: 70%;
    border-radius: 4px;
    color: #fff;
}
/* BFP LCCFS CONTAINER */
.container ul > li.lccfs {
    background: rgba(243, 156, 18, 0.7);
    border: 1px solid #F39C12;
}
.container ul li.lccfs:nth-child(2) {
    margin-left: 15%;
}
.container ul li.lccfs:nth-child(3) {
    margin-left: 43%;
}
.container ul li.lccfs:last-child {
    margin-left: 63%;
}
/* GOGON SYSTEM CONTAINER */
.container ul > li.gogon {
    background: rgba(46, 204, 113, 0.7);
    border: 1px solid #2ecc71;
}
.container ul > li.gogon:nth-child(2) {
    margin-left: 15%;
}
.container ul > li.gogon:nth-child(3)  {
    margin-left: 43%;
}
.container ul > li.gogon:last-child {
    margin-left: 63%;
}
/* PHAGEBIOTICS CONTAINER */
.container ul > li.phage {
    background: rgba(52, 152, 219, 0.7);
    border: 1px solid #3498db;
}
.container ul > li.phage2:nth-child(2) {
    margin-left: 17%;
}
.container ul > li.phage3:last-child {
    margin-left: 46%;
}
/* INVENTORY PHP OOP CONTAINER */
.container ul > li.inventory {
    background: rgba(231, 76, 60, 0.7);
    border: 1px solid #e74c3c;
}
.container ul li.inventory:nth-child(2) {
    margin-left: 15%;
}
.container ul li.inventory:last-child {
    margin-left: 43%;
}
/* INVENTORY PHP OOP CONTAINER */
.container ul > li.typeab {
    background: rgba(155, 89, 182, 0.7);
    border: 1px solid #9b59b6;
}
.container ul li.typeab:last-child {
    margin-left: 28%;
}
/* INVENTORY PHP OOP CONTAINER */
.container ul > li.presidents {
    background: rgba(26, 188, 156, 0.7);
    border: 1px solid #1abc9c;
}
.container ul li.presidents:last-child {
    margin-left: 28%;
}


/* START OF CONTACTS SECTION */
.contact {
    text-align: center;
    overflow-x: hidden;
    background: linear-gradient(to top left, #24C6DC, #514A9D);
    margin-top: 50px;
    /*transform: rotate(-3deg);*/
    width: 100%;  
    height: auto;
}
h1.contact-white {
    font-size: 250%;
}
h1.contact-white, .contact div > p {
    color: #fff;
    font-weight: 300;
}
.contact > div {
    display: inline-block;
    width: 400px;
    height: auto;
    padding: 50px 0;
    overflow-y: hidden;
    text-align: center;
    vertical-align: middle;
}
.contact-icons {
    text-decoration: none;
    padding: 20px;
    color: #74b1be;
    transition: all 0.3s ease;
}
.contact-icons:hover {
    color: #fff;
}
footer {
    height: 150px;
    background: #2f3241;
    text-align: center;
}
footer  p:nth-child(1) {
    padding-top: 50px;
}
footer > p {
    padding: 0 15px;
    font-weight: 100;
    color: rgba(255,255,255,0.75);
}
.fa-heart {
    color: tomato;
}
.underlined {
    text-decoration: none;
    position: relative;
    color: rgba(255,255,255,0.75);
}
.underlined:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;

    border-width: 0 0 1px;
    border-style: solid;
}
.underlined:hover {
    color: #47c0da;
}
.redpanda {
    color: #e74c3c;
}
.extra {
    width: 100%;    
    height: 100%;
    text-align: center;
}
.col-panda {
    display: inline-block;
    width: auto;
    height: auto;
    overflow-y: hidden;
    text-align: center;
    padding: 30px;
    vertical-align: middle;
}
.col-panda > h1 {
    font-weight: 300;
}
.col-panda img {
    transition: all 0.3s ease;
}
.col-panda img:hover {
    transform: scale(1.1);
}
h1.content-title {
    font-size: 50px;
    padding: 40px 40px 0 40px;
    color: #fff;
}
p.nav-extra {
    text-transform: uppercase;
    font-size: 150%;
    padding-bottom: 50px;
}
p.lccfs-extra {
    color: #f39c12;
}
/* PORTFOLIO MODALS */
.nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: all 0.5s ease;
}
.portfolio-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.closebtn:hover,
.closebtn:focus {
    color: #f1f1f1;
}
.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    padding: 8px;
    color: #818181;
    font-size: 60px;
    text-decoration: none;
}
.portfolio-content div.nav-details {
    display: inline-block;
    width: auto;
    height: 100px;
    font-size: 140%;
    padding: 50px 10% 5px 10%;
    vertical-align: middle;
    font-weight: 300;
}
.portfolio-content div.lccfs-details span {
    color: #f39c12;
    font-weight: 600;
}
/* LCCFS MODAL CONTENT */
.intro {
    position: relative;
    height: auto;
}
.lccfs-intro {
    background-color: #F3AF3B;
}
.intro div.circle {
    position: relative;
    top: -45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.intro div.lccfs-circle {
    border: 10px solid #F3AF3B;
    background: #F39C12;
}
.intro div.circle i {
    font-size: 40px;
    margin: 0 auto;
    padding: 30px;
    color: #fff;
}
.intro > p {
    position: relative;
    top: -50px;
    padding: 0 10%;
    font-size: 120%;
    color: #000;
    text-align: justify;
}
.intro > p span {
    font-size: 105%;
    font-weight: 500;
}
.contents {
    position: relative;
    width: 100%;
    height: auto;
    margin: 100px 0;
 }
.contents > h1,
.overview > h3 {
    color: #fff;
    font-weight: 700;
}
.contents h1 span,
.overview h3 span {
    font-weight: 100;
}
#lccfs-nav .portfolio-content .contents h1 span,
#lccfs-nav .portfolio-content .contents .overview h3 span {
    color: #F3AF3B;
}
.contents > p {
    color: #b2b2b2;
    font-weight: 300;
}
.overview {
    position: relative;
    display: inline-block;
    max-width: 750px;
    margin: 20px;
    text-align: center;
    vertical-align: middle;
}

.overview-text {
    max-width: 350px;
}
.overview p {
    color: #b2b2b2;
    text-indent: 40px;
    text-align: justify;
}
.overview img {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto 0;
    max-width: 800px;
    width: 750px;
    border-radius: 5px;
    box-shadow: 5px 10px 25px rgba(0,0,0,0.2);
    transition: all 0.4s ease;
}
.overview img.img-1 {
    position: relative;
    opacity: 0.3;
}
.overview img.img-2 {
    position: absolute;
    height: 100%;
    left: 15px;
    top: 50px;
}
.overview img.img-1:hover {
    z-index: 1;
    opacity: 1;
}
.overview img.img-1:hover ~ img.img-2 {
    opacity: 0.3;
}
.content-footer {
    height: 200px;
    vertical-align: middle;
}
.lccfs-footer {
    background: #F3AF3B;
}
.content-footer a {
    text-decoration: none;
}
.content-footer h1 {
    padding: 6% 0 0 0;
    font-size: 50px;
    color: #000;
    font-weight: 100;
}
.content-footer h1 span{
    color: #fff;
    font-weight: 700;
}
.content-footer:hover {
    background: #fff;
    transition: all 0.3s ease;
}
.lccfs-footer:hover h1 span  {
    color: #F3AF3B;
}
/* GOGON PORTFOLIO */
p.gogon-extra {
    color: #2ecc71;
}
.portfolio-content div.gogon-details span {
    color: #2ecc71;
    font-weight: 600;
}
.gogon-intro {
    background-color: #2ecc71;
}
.intro div.gogon-circle {
    border: 10px solid #2ecc71;
    background: #1C7D45;
}
#gogon-nav .portfolio-content .contents h1 span,
#gogon-nav .portfolio-content .contents .overview h3 span {
    color: #2ecc71;
}
.gogon-footer {
    background: #2ecc71;
}
.gogon-footer:hover h1 span  {
    color: #2ecc71;
}
/* END OF GOGON PORTFOLIO */

/* PHAGE PORTFOLIO */
p.phage-extra {
    color: #3498db;
}
.portfolio-content div.phage-details span {
    color: #3498db;
    font-weight: 600;
}
.phage-intro {
    background-color: #3498db;
}
.intro div.phage-circle {
    border: 10px solid #3498db;
    background: #2878AD;
}
.fa-trophy {
    color: #FFC930;
}
#phage-nav .portfolio-content .contents h1 span,
#phage-nav .portfolio-content .contents .overview h3 span {
    color: #3498db;
}
.phage-footer {
    background: #3498db;
}
.phage-footer:hover h1 span  {
    color: #3498db;
}
/* END OF PHAGE PORTFOLIO */
/* INVENTORY PORTFOLIO */
p.inventory-extra {
    color: #e74c3c;
}
.portfolio-content div.inventory-details span {
    color: #e74c3c;
    font-weight: 600;
}
.inventory-intro {
    background-color: #e74c3c;
}
.intro div.inventory-circle {
    border: 10px solid #e74c3c;
    background: #9A3228;
}
#inventory-nav .portfolio-content .contents h1 span,
#inventory-nav .portfolio-content .contents .overview h3 span {
    color: #e74c3c;
}
.inventory-footer {
    background: #e74c3c;
}
.inventory-footer:hover h1 span  {
    color: #e74c3c;
}
/* END OF INVENTORY PORTFOLIO */
/* TYPEAB PORTFOLIO */
p.typeab-extra {
    color: #9b59b6;
}
.portfolio-content div.typeab-details span {
    color: #9b59b6;
    font-weight: 600;
}
.typeab-intro {
    background-color: #9b59b6;
}
.intro div.typeab-circle {
    border: 10px solid #9b59b6;
    background: #673B79;
}
#typeab-nav .portfolio-content .contents h1 span,
#typeab-nav .portfolio-content .contents .overview h3 span {
    color: #9b59b6;
}
.typeab-footer {
    background: #9b59b6;
}
.typeab-footer:hover h1 span  {
    color: #9b59b6;
}
/* END OF TYPEAB PORTFOLIO */
/* PRESIDENTS PORTFOLIO */
p.presidents-extra {
    color: #1abc9c;
}
.portfolio-content div.presidents-details span {
    color: #1abc9c;
    font-weight: 600;
}
.presidents-intro {
    background-color: #1abc9c;
}
.intro div.presidents-circle {
    border: 10px solid #1abc9c;
    background: #117D68;
}
#presidents-nav .portfolio-content .contents h1 span,
#presidents-nav .portfolio-content .contents .overview h3 span {
    color: #1abc9c;
}
.presidents-footer {
    background: #1abc9c;
}
.presidents-footer:hover h1 span  {
    color: #1abc9c;
}
/* END OF PRESIDENTS PORTFOLIO */

ul.colors {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    font-size: 0;
    list-style-type: none;
    background-color: #1abc9c;
}
ul.colors li {
    display: inline-block;
    height: 10px;
    width: 16%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
}
ul.colors li:nth-child(1) {
    background: #f39c12;
}
ul.colors li:nth-child(2) {
    background: #2ecc71;
}
ul.colors li:nth-child(3) {
    background: #3498db;
}
ul.colors li:nth-child(4) {
    background: #e74c3c;
}
ul.colors li:nth-child(5) {
    background: #9b59b6;
}
ul.colors li:nth-child(6) {
    background: #1abc9c;
}
ul.colors li:hover {
    height: 50px;
}